/*Apply background colours to check link and see layout*/
body {
    background-color: green;
    min-height: 100vh;
    position: relative;
}
/*Our team button*/
.top-right-spell {
    position: absolute;
    top: 5px;
    right: 10px;
}

.row {
    max-width: 100vw;
}

img {
    height: 125px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.card-flip {
    height: 125px;
    width: 93.28px;
    perspective: 1000px;
    padding: 0;
}

.card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1.2s;
    transform-style: preserve-3d;
}

.flipped .card-flip-inner {
    transform: rotateY(-180deg);
}

.card-flip-front,
.card-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-flip-back {
    transform: rotateY(-180deg);
}

/*Our team*/

.card-img-top {
  width: 100%;
  height: auto;           
  object-fit: cover;        
  object-position: center;  
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;   
}

.card-body { background-color: snow !important;
}
/* Team page overrides ONLY */
.team-page {
  background: url("../images/Team-background.webp") center / cover no-repeat;
}

.team-page div {
  background-color: transparent;
}

.team-page h1 {

  font-family: 'Macondo', cursive;
  font-weight: bold;
  color: red;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}
.team-page h3 {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bolder;
    }